:root {
    --setting-transition-default: all 300ms ease;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 0 !important;
}

*, *::after, *::before, *::placeholder {
    font-family: 'Work Sans', sans-serif;
    color: white !important;
}

body {
    background-image: url("../images/signUp_background_img.png");
    object-fit: cover;
    background-color: #211C5A;
    backdrop-filter: blur(10px);
}


/* Navbar styles */
.navbar-toggler {
    background-image: radial-gradient(#602EA6, #C977D6);
}

.nav-item {
    transition: var(--setting-transition-default);
}

.nav-item:hover {
    /* background-image: linear-gradient(to right bottom, rgba(201,129,214, 40%) -10%, rgba(96,46,166, 40%) 90%); */
    background-color: #6934AA;
    box-shadow: 0px 0px 10px 3px rgba(182,70,214, 0.75) inset;
}


/* Sign Up form styles */
.sign-up-form {
    background-color: rgba(48, 55, 100, 90%);
    border: 1px solid #6B91FF;
    border-radius: 20px;
    box-shadow: 16px 21px 49px -5px rgba(0,0,0,0.75);
}

.cover-image {
    height: 100%;
    width: 100%;

    object-fit: cover;

    backdrop-filter: blur(10px);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.cover-text {
    position: absolute;
    top: 10%;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.text-muted, .form-control::placeholder{
    color: #ACAFC1 !important;
}

.reset-password {
    color: #0EC6F9 !important;
}

.form-control {
    border: 1px solid #5B69BF !important;
    background-color: transparent !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0%), rgba(255, 255, 255, 5%)) !important;
}

#sign-up-btn {
    background-image: linear-gradient(to top left,#602EA6, #B444D7);
    border: 1px solid #7B3DAD;
    transition: var(--setting-transition-default);
}

#sign-up-btn:hover {
    box-shadow: 0px 0px 30px 3px rgba(213,110,227, 0.75) inset;
}

#sign-up-google-btn {
    background-color: white;
    color: #0E435C !important;
    transition: var(--setting-transition-default);
}

#sign-up-google-btn:hover {
    box-shadow: 0px 0px 32px -10px rgba(147,231,221,0.76);
}



/* Hide the scrollbar of the window/element */
*::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: transparent;
}
